.chat-menu {
	position: relative;

	button {
		position: absolute;
		bottom: 20px;
		right: 20px;
		z-index: 0;
	}
}

.chat-menu-top {
	height: 50px;
	background: #ededed;
	display: flex;
	align-items: center;
	justify-content: center;
}

.chat-menu-content {
	flex: 1;
	padding: 0 40px 20px 40px;
	overflow-y: scroll;
}

.chat-menu-no-conversation {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	p {
		padding: 10px;
		font-size: 16px;
		color: rgb(80, 80, 80);
		text-align: center;
	}
}

@media screen and (max-width: $media-tablette) {
	.chat-menu-content {
		padding: 0 10px 20px 10px;
	}
}

@media screen and (max-width: $media-mobile) {
	.chat-menu-content {
		display: flex;
		align-items: center;
		flex-direction: column;
	}
}
