.chat-user-card {
	width: 100%;
	margin-top: 20px;
	border-radius: 25px;
	display: flex;
	align-items: center;
	padding: 10px;
	cursor: pointer;
	box-shadow: $box-shadow-main-element;
	transition: 0.3s;

	img {
		width: 50px;
		height: 50px;
	}

	&__name {
		margin-left: 20px;
	}

	&:hover {
		background-color: $chat-card-user-hover--light-mode;
	}

	&__new-message {
		flex: 1;
		display: flex;
		justify-content: flex-end;
		margin: 10px 20px 0 20px;
	}
}

.main--dark {
	.chat-user-card {
		&:hover {
			background-color: $chat-card-user-hover--dark-mode;
		}
	}
}

@media screen and (max-width: $media-mobile) {
	.chat-user-card {
		width: 100%;
		margin-top: 30px;
		padding: 15px;
	}
}
