.company-news {
	position: relative;

	&__add-news {
		position: absolute;
		z-index: 0;
		top: 15px;
		right: 15px;
	}

	&__divider {
		@include center-width($width: 50%);
		margin: 30px auto !important;
		border-color: $primary-color !important;
	}
}

.company-news-new-list {
	margin-top: 40px;
}

.company-news-no-new {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	p {
		padding: 10px;
		font-size: 16px;
		color: $text-color-grey--light-mode;
		text-align: center;
	}
}

.main--dark {
	.company-news {
		.company-news-no-new {
			p {
				color: $text-color-grey--dark-mode;
			}
		}
	}
}

.company-new-card {
	@include center-width($width: 90%);
	margin-top: 30px;
	display: flex;
}

.company-new-card-content {
	width: 90%;
	&__title {
		position: relative;
		margin-left: 15px;
		font-size: 18px;
		font-weight: 500;
		white-space: pre-wrap;
		word-wrap: break-word;

		&::before {
			position: absolute;
			top: 50%;
			left: -15px;
			content: '';
			width: 8px;
			height: 8px;
			background-color: $primary-color;
			border-radius: 50%;
			transform: translateY(-50%);
		}
	}

	&__date {
		margin-top: 10px;
		font-size: 12px;
	}

	&__text {
		margin-top: 20px;
		white-space: pre-wrap;
		word-wrap: break-word;
	}
}

.company-new-card-settings-container {
	position: relative;
	width: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.company-new-card-settings {
	@include menu-modal;
	transform: translateX(-100%);
	top: calc(50% - 20px);
	left: 0;
}

.company-new-form {
	width: 650px;
	@include standard-modal-desktop;
	display: flex;
	flex-direction: column;
	align-items: center;

	&__input {
		display: block;
		width: 100%;
	}

	form {
		width: 80%;
		margin-top: 10px;
	}
}

.company-new-form-textarea {
	@include textarea;
	margin-top: 20px;

	&__input {
		width: 100%;
		color: $text-color--light-mode;
	}
}

.company-new-form--dark .company-new-form-textarea {
	.company-new-form-textarea__input {
		width: 100%;
		color: $text-color--dark-mode;
	}
}

.company-news-bottom {
	margin-top: 20px;
	display: flex;
	justify-content: center;
}

@media screen and (max-width: $media-mobile) {
	.company-new-form {
		@include standard-modal-mobile;
	}
}

@media screen and (max-width: $media-small-screen) {
	.company-new-form {
		@include standard-modal-small-screen;
	}
}