@import './components/todos';

.home {
	@include center-width($width: $profile-width-desktop);
	margin-top: 10px;
}

.home-columns {
	@include features-columns-desktop;
}

.home-todos,
.home-news {
	@include features-section-desktop;
}

@media screen and (max-width: $media-tablette) {
	.home {
		max-width: 95%;
	}
}

@media screen and (max-width: $media-mobile) {
	.home-columns {
		@include features-columns-mobile;
	}

	.home-todos,
	.home-news {
		@include features-section-mobile;
	}
}

@media screen and (max-width: $media-small-screen) {
	.home {
		max-width: 100%;
	}
}
