@import './components/todos';
@import './components/company-news';

.home {
	@include center-width($width: $profile-width-desktop);
	margin-top: 10px;
	padding-bottom: 30px;
}

.home-columns {
	@include features-columns-desktop;
}

.todos,
.company-news {
	@include features-section-desktop;
}

@media screen and (max-width: $media-tablette) {
	.home {
		width: 95%;
	}
}

@media screen and (max-width: $media-mobile) {

	.home {
		width: 100%;
	}
	
	.home-columns {
		@include features-columns-mobile;
	}

	.todos,
	.company-news {
		@include features-section-mobile;
	}
}

@media screen and (max-width: $media-small-screen) {


	.todos,
	.company-news {
		padding: 20px 0;
		&__title {
			margin-left: 20px;
		}
	}
}
