@import './components/chat-box';
@import './components/chat-menu';
@import './components/chat-online-users';
@import './components/chat-search-user';

.chat {
	padding: 10px 0 30px 0;
	height: calc(100vh - $header-height);
	display: flex;
	justify-content: space-between;
}

.chat-menu,
.chat-box,
.chat-online {
	@include features-section-desktop;
	padding: 0;

	h2 {
		font-size: 20px;
		font-weight: bold;
	}
}

.chat-menu {
	width: 27%;
	display: flex;
	flex-direction: column;
}

.chat-box {
	width: 40%;
	display: flex;
	flex-direction: column;
}

.chat-online {
	width: 27%;
}
