@import './components/chat-box';
@import './components/chat-menu';
@import './components/chat-online-users';
@import './components/chat-search-user';
@import './components/chat-user-card';

.chat {
	max-width: 1600px;
	margin: 0 auto;
	padding-top: 10px;
	height: calc(100vh - $header-height);
	display: flex;
	justify-content: space-between;
}

.chat-menu,
.chat-box,
.chat-online {
	@include features-section-desktop;
	min-height: 350px;
	margin-bottom: 30px;
	padding: 0;

	h2 {
		font-size: 20px;
		font-weight: bold;
	}
}

.chat-menu {
	width: 27%;
	display: flex;
	flex-direction: column;
}

.chat-box {
	width: 40%;
	display: flex;
	flex-direction: column;
}

.chat-online {
	width: 27%;
}

@media screen and (max-width: $media-mobile) {

	.chat {
		padding: 0;
		display: block;
		position: relative;

        &__search-button-container {
            position: absolute;
            bottom: 30px;
            right: 30px;
        }

		.MuiTab-root {
			padding: 22px;
		}

		.MuiTabPanel-root {
			padding: 0;
		}
	}

	.chat-top {
		background-color: #ededed;

	}

	.chat-menu,
	.chat-box,
	.chat-online {
		margin: 0;
		width: 100%;
	}

	.chat-menu,
	.chat-online {
		height: calc(100vh - $header-height - 62.5px);
	}
}
