.settings {
	min-height: calc(100vh - $header-height) ;
	@include main-section-box;
	@include center-width($width: $width-main-section);
}

.settings-form {
	display: block;
	@include center-width($width: 90%);
	display: flex;
	flex-direction: column;

	&__button-container {
		display: flex;
		justify-content: center;
	}

.settings-form-row {
		margin: 0 0 20px 0;

		&--double-inputs {
			width: 100%;
			display: flex;
			justify-content: space-between;
		}

		&__inputs {
			width: 45%
		}
	}
}