.settings {
	@include center-width($width: $settings-width-desktop);
	min-height: calc(100vh - $header-height);
	background-color: $white-background;
	padding-top: 30px;
}

.settings-tab {
	font-size: 14px !important;
}

.settings-form {
	display: block;
	@include center-width($width: 90%);
	display: flex;
	flex-direction: column;

	&__button-container {
		display: flex;
		justify-content: center;
	}

	.settings-form-row {
		margin: 0 0 20px 0;

		&--double-inputs {
			width: 100%;
			display: flex;
			justify-content: space-between;
		}

		&__inputs {
			width: 45%;
		}
	}
}

.settings-form-images {
	@include center-width($width: 90%);
	display: flex;
	justify-content: space-between;
	margin-bottom: 25px;

	&__form {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__title {
		margin-bottom: 10px;
		font-weight: 600;
	}

	&__avatar {
		width: 150px;
		height: 150px;
		border-radius: 50%;
		cursor: pointer;
	}

	&__cover {
		width: 352px;
		height: 150px;
		cursor: pointer;
	}

	button {
		position: absolute;
		right: 0;
		bottom: 0;
	}
}

.settings-form-textarea {
	@include center-width($width: 80%);
	display: block;
	font-family: 'Open Sans', sans-serif;
	padding: 8.5px 14px;
	resize: none;
	border: none;
	background-color: transparent;
	border: thin solid rgba(0, 0, 0, 0.12);
	border-radius: 5px;
}

.settings-form-textarea-counter {
	@include center-width($width: 79%);
	margin-top: 10px;
	font-size: 12px;

	&--error {
		color: red
	}
}

@media screen and (max-width: $media-mobile ) {
	.settings {
        max-width: 100%;
    }
}
