@import './components/create-post.scss';

.feed {
    @include center-width($width: $feed-width-desktop);
    min-height: calc(100vh - $header-height);
}

.feed-bottom {
    margin: 30px 0;
    display: flex;
    justify-content: center;

    button {
        font-size: 12px;
        color: $grey-color-dark;

        svg {
            transform: rotate(90deg);
            height: 15px;
        }
    }
}

@media screen and (max-width: $media-mobile ) {
	.feed {
        max-width: 100%;
    }
}
