// Header
@import './components/search-bar';
@import './components/navbar';
@import './components/right-menu';
@import './components/mobil-menu';

.header {
    width: 100%;
    position: fixed;
    z-index: 99;
    height: $header-height;
    display: flex;
    padding: 0 30px;
    box-shadow: $box-shadow-header;

    &__components--left, .header__components--right {
        width: 33%;
        height: 100%;
        display: flex;
        align-items: center;
    }

    &__components--center {
        width: 34%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__components--right {
        flex: 1;
        justify-content: flex-end;
    
    }

    &__divider {
        position: absolute;
        width: 100vw;
        bottom: 0;
        left: 0px;

    }
}

.header-components-left {
    &__logo{
        width: 50px;
        fill: $primary-color
    }

    &__button-container{
        width: 90px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        button {
            display: block;
        }
    }
}

@media screen and (max-width: $media-tablette ) {
	.header {
        padding: 0;

        &__components--left{
            width: 100%;
        }
    }
}



