// Header
@import './components/search-bar';
@import './components/navbar';
@import './components/right-menu';
@import './components/mobil-menu';

.header {
    width: 100%;
    position: fixed;
    z-index: 9999;
    height: $header-height;
    display: flex;
    padding: 0 30px;
    background-color: $section-background;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);

    &__components--left, .header__components--right {
        width: 35%;
        height: 100%;
        display: flex;
        align-items: center;
    }

    &__components--center {
        width: 30%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__components--right {
        width: 35%;
        height: 100%;
        display: flex;
        align-items: center;
        flex: 1;
        justify-content: flex-end;
    
    }
}

.header-logo {
    width: 50px;
    fill: $primary-color
}

