// Mise en place des composants
.login {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
}

.login-canvas-logo {
    position: absolute !important;
    top: 0;
}

.login-svg-container {
    display: flex;
    justify-content: center;
}

.login-svg {
    width: 700px;
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7)); 
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));

}

.login-button-container {
    width: 75%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// Bouton
.login-button {
    cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 0;
    color: $button-text;
    background: none;
    width: 8rem;
    height: 8rem;
    padding: 0;
    font-family: inherit;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
    &:focus,
    &--hover {
        outline: none;
        color: $button-text-hover;
        background: $button-bg-hover;
    }
}

.login-button__deco {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-width: $button-stroke-width;
    border-style: solid;
    border-radius: $button-border-radius;

    &--1 {
        border-color: $button-stroke-1;
        background: rgba(255, 255, 255, 0.1);
    }

    &--2 {
        border-color: $button-stroke-2;
    }
}

.login-button--hover .login-button__deco--1 {
    border-color: $button-stroke-hover-1;
}

.login-button--hover .login-button__deco--2 {
    border-color: $button-stroke-hover-2;
}

.login-button__text,
.login-button__text-inner {
    display: flex;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.login-button__text {
    overflow: hidden;
}

// Fenêtre modale
.login-modale {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);

    @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
        background-color: transparent;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    }
}

.login-modale-content {
    background: rgba(0, 0, 0, 0.85);
    width: 300px;
    padding: 30px;
    border-radius: 25px;
    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.3);
}

.login-modale-content__title {
    color: white;
    font-size: 22px;
    padding-bottom: 20px;
}

.login-modale-content__text {
    color: white;
    margin-top: 20px;
}

.login-modale-content__link {
    color: rgba(255, 151, 217, 0.8);
    margin-left: 10px;
    cursor: pointer;
    font-weight: bold;
}

// Formulaire
.login-form label {
    display: none;
}

.login-form__input {
    width: 100%;
    padding: 8px 4px 8px 10px;
    margin-top: 15px;
    border: 1px solid rgba(78, 48, 67, 0.8);
    background: rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 1px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-out;
    color: #fff;
    font-size: 13px;

    &::placeholder {
        color: rgba(255, 255, 255, 0.932);
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.15);
    }

    &:hover {
        border-color: #333;
    }

    &:focus {
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 1px 1px rgba(0, 0, 0, 0.1),
            0 0 0 3px rgba(255, 255, 255, 0.15);
        outline: none;
    }

    &--error {
        width: 100%;
        padding: 8px 4px 8px 10px;
        margin-top: 15px;
        border: 1px solid rgba(247, 7, 7, 0.8);
        background: rgba(0, 0, 0, 0.15);
        border-radius: 2px;
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 1px 1px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease-out;
        color: #fff;
        font-size: 13px;
    }
}

.login-form__error {
    color: red;
    margin: 2px 0 0 8px;
    font-size: 14px;
}

.login-form__button {
    width: 100%;
    margin-top: 15px;
    padding: 8px 0;

    background: linear-gradient(rgba(99, 64, 86, 0.5), rgba(76, 49, 65, 0.7));
    border-radius: 5px;
    border: 1px solid #4e3043;
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.4), 0 2px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease-out;

    color: white;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    font-size: 16px;
    font-weight: bold;

    &:hover {
        box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), inset 0 20px 30px rgba(99, 64, 86, 0.5);
        background: #594642;
    }
}
