.container {
	padding: 80px;
}

.mobile-menu {
	position: fixed;
	z-index: 9;
	display: flex;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	border-width: 0px;
	border-style: solid;
	border-color: $white-background;
	background-color: rgba(0,0,0,0);
	backface-visibility: hidden;
	-webkit-transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
	transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
}

.mobile-menu.mobile-menu--open {
	height: 100%;
	border-width: 0px 0px 0px 90px;
	background-color: rgba(0,0,0,0.3);
	-webkit-transition: border-width 0.3s, background-color 0.3s;
	transition: border-width 0.3s, background-color 0.3s;
}

.bt-overlay {
	position: absolute;
	width: 100%;
}

.mobile-menu--open .bt-overlay {
	height: 100%;
}

.mobile-menu ul {
	position: fixed;
	top: 75px;
	left: 0;
	width: 0;
	margin: 0;
	padding: 0;
	list-style: none;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transition: 0.3s;
}

.mobile-menu.mobile-menu--open ul{
	width: 90px;
}

.mobile-menu ul li,
.mobile-menu ul li a {
	display: block;
	width: 100%;
	text-align: center;
}

.mobile-menu ul li {
	padding: 16px 0;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s, visibility 0s 0.3s;
	transition: transform 0.3s, opacity 0.2s, visibility 0s 0.3s;
}

.mobile-menu ul li:first-child { 
	-webkit-transform: translate3d(-100%,200%,0);
	transform: translate3d(-100%,200%,0);
}

.mobile-menu ul li:nth-child(2) { 
	-webkit-transform: translate3d(-100%,100%,0);
	transform: translate3d(-100%,100%,0);
}

.mobile-menu ul li:nth-child(3) { 
	-webkit-transform: translate3d(-100%,100%,0);
	transform: translate3d(-100%,0,0);
}

.mobile-menu ul li:nth-child(4) { 
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
}

.mobile-menu ul li:nth-child(5) { 
	-webkit-transform: translate3d(-100%,-100%,0);
	transform: translate3d(-100%,-100%,0);
}

.mobile-menu ul li:nth-child(6) { 
	-webkit-transform: translate3d(-100%,-100%,0);
	transform: translate3d(-100%,-200%,0);
}

.mobile-menu ul li:nth-child(7) { 
	-webkit-transform: translate3d(-100%,-200%,0);
	transform: translate3d(-100%,-200%,0);
}

.mobile-menu.mobile-menu--open ul li {
	visibility: visible;
	opacity: 1;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s 0.1s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.mobile-menu ul li a {
	display: block;
	outline: none;
	text-decoration: none;
}

.mobile-menu ul li a:before {
	font-size: 48px;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.mobile-menu ul li a:hover:before,
.mobile-menu ul li a:focus:before  {
	color: #fff;
}

@media screen and (max-width: $media-small-screen) {
	.mobile-menu.mobile-menu--open {
		border-width: 0px 0px 0px 70px;
	}

	.mobile-menu.mobile-menu--open ul {
		width: 70px;
	}
}