.right-menu {
	position: relative;
	height: 100%;
	display: flex;
	align-items: center;
	z-index: 999;

	&__button {
		border: none;
		cursor: pointer;
		border-radius: 50%;

		& img {
			width: 35px;
			border-radius: 50%;
			box-shadow: $box-shadow-avatar
		}
	}
}

.right-menu-modal {
	@include menu-modal;
	right: 0px;
	bottom: 5px;
}
