.header {
    width: 100%;
    position: fixed;
    height: $header-height;
    display: flex;
    padding: 0 30px;
    background-color: rgba(62, 123, 177, 0.9);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
}

.header__components--left, .header__components--right {
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
}

.header__components--center {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__components--right {
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-end;

}

.header-logo {
    width: 50px;
}

