.search-bar-container {
	height: 100%;
	margin-left: 20px;
}

.search-bar {
	height: 100%;
	display: flex;
	align-items: center;
}

.search-bar__input {
	width: 250px;
	height: 40px;
	padding: 8px 4px 8px 10px;
	border: none;
	border-radius: 5px;
	background-color: $header-botton-background-color;
	box-shadow: $header-botton-box-shadow;
	transition: all 0.3s ease-out;
	color: rgb(0, 0, 0);
	font-size: 14px;

	&::placeholder {
		color: rgb(0, 0, 0);
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
		font-weight: 800;
	}

	&:focus {
		box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 1px 1px rgba(0, 0, 0, 0.1),
			0 0 0 3px rgba(255, 255, 255, 0.15);
		outline: none;
	}
}

.search-bar__button {
	width: 40px;
	height: 40px;
	margin-left: 10px;
	border: none;
	border-radius: 5px;
	background-color: $header-botton-background-color;
	box-shadow: $header-botton-box-shadow;
	cursor: pointer;
}
