.crop-image{
    height: 100vh;
    width: 50%;
    position: relative;

    &__cropper-container{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 200px;
    }

    &__actions {
        width: 100%;
        height: 200px;
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
    }
}