.post-form {
	@include center-width($width: 40%);
	background-color: $grey-color;
	border-radius: $border-radius-main-element;
}

.post-form-header{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;

	h2 {
		margin: 20px 0;
		font-size: 20px;
		font-weight: bold;
	}

	button {
		position: absolute;
		top: 5px;
		right: 10px;
	}
}

.post-form-textarea {
	@include center-width($width: $width-content-main-section);
	display: block;
	font-family: 'Open Sans', sans-serif;
	padding: 5px 10px;
	resize: none;
	border: none;
	background-color: transparent;
	border: thin solid rgba(0, 0, 0, 0.12);
	border-radius: 5px;
}

.post-form-image {
	margin: 20px 0;
	display: flex;
	justify-content: center;
	background-color: black;

	& img {
		display: block;
		max-height: 300px;
	}

	&__delete-button {
		position: absolute;
		bottom: 0;
		right: 0;
	}
}

.post-form-actions {
	@include center-width($width: 90%);
	margin: 20px auto; 

	&__buttons {
		display: flex;
		justify-content: space-around;
	}

}

.post-form-submit {
	margin: 20px 0;
	display: flex;
	justify-content: center;
}
