.post-form {
	width: 650px;
	background-color: $grey-color;
	border-radius: $border-radius-main-element;
	padding-bottom: 20px;
}

.post-form-header{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;

	h2 {
		margin: 20px 0;
		font-size: 20px;
		font-weight: bold;
	}
	button {
		position: absolute;
		top: 5px;
		right: 10px;
	}
}

.post-form-textarea {
	@include center-width($width: $width-content-main-section);
	display: block;
	font-family: 'Open Sans', sans-serif;
	padding: 8.5px 14px;
	resize: none;
	border: none;
	background-color: transparent;
	border: thin solid rgba(0, 0, 0, 0.12);
	border-radius: 5px;
}

.post-form-image {
	margin: 20px 0;
	display: flex;
	justify-content: center;
	background-color: black;

	& img {
		display: block;
		max-height: 300px;
	}
}

.post-form-video {
	margin: 20px 0;
	display: flex;
	justify-content: center;
	background-color: black;
}

.post-form-actions {
	@include center-width($width: 90%);
	margin: 20px auto 0 auto; 

	&__buttons {
		display: flex;
		justify-content: space-around;
	}

}

.post-form-video-input {
	@include center-width($width: $width-content-main-section);
	margin: 0 auto;
	padding: 20px 10px 0 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;

	&__input-container{
		max-width: 350px;
	}
}

.post-form-submit {
	margin-top: 20px;
	display: flex;
	justify-content: center;
}



@media screen and (max-width: $media-tablette ) {
	.post-form {
		max-width: 100%;
	}
}