*,
*::after,
*::before {
	box-sizing: border-box;
}

body,
html {
	margin: 0;
	font-family: sans-serif;
	font-size: 16px;
	position: relative;
	background-color: $page-background;
	// background: radial-gradient(rgb(250, 137, 137), hsl(0, 22%, 31%));
	min-height: 100vh;
}

.main {
	padding-top: $header-height;
	transition: 0.3s;
	z-index: 0;

	&.main--active-menu {
		
		margin-left: 70px;
		transform: perspective(1000px) rotateY(-15deg);
	}
}

@media screen and (max-width: $media-mobil) {
	.main {
		padding-top: 0;
	}
}
