@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*,
*::after,
*::before {
	box-sizing: border-box;
}

body,
html {
	margin: 0;
	font-family: 'Open Sans', sans-serif;	
	font-size: 16px;
	position: relative;
	background-color: $page-background;
	// background: radial-gradient(rgb(250, 137, 137), hsl(0, 22%, 31%));
	min-height: 100vh;
}

.main {
	padding-top: $header-height;
	transition: 0.3s;
	z-index: 0;

	&.main--active-menu {
		
		margin-left: 70px;
		transform: perspective(1000px) rotateY(-15deg);
	}
}

@media screen and (max-width: $media-mobil) {
	.main {
		padding-top: 0;
	}
}
