// Contenu de la modal
.login-form-container {
	background: rgba(62, 123, 177, 0.5);
	width: 300px;
	padding: 30px;
	border-radius: 25px;
	box-shadow: 5px 5px 20px 0px #000;

	&__title {
		color: white;
		font-size: 25px;
		padding-bottom: 20px;
		font-weight: bold;
	}

	&__text {
		color: white;
		margin-top: 25px;
		font-weight: bold;
	}

	&__link {
		display: inline-block;
		color: $primary-color;
		font-weight: 800;
		margin-left: 10px;
		cursor: pointer;
		margin-top: 25px;
		font-weight: bold;
		transition: 0.3s ease;
	}
}

// Formulaire
.login-form {
    @include standart-form;

    &__label {
        display: none;
    }

    &__input {
        width: 100%;
        color: #fff;
        font-size: 13px;

        &::placeholder {
            color: rgb(255, 255, 255);
            text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
        }
    }

    &__button {
        width: 100%;
        margin-top: 25px;
        padding: 8px 0;
        transition: 0.5s;
    }
}

