.login-form-modal {
	.MuiPaper-root {
		background: rgba(255, 255, 255, 0.9);
		border-radius: 15px;
		box-shadow: 5px 5px 20px 0 #000;
	}
}

.login-form-modal-content {
	width: 350px;
	padding: 30px;

	&--confirm {
		width: 500px;
	}

	&__top {
		h2 {
			position: relative;
			margin-bottom: 25px;
			color: black;
			font-size: 30px;
			font-weight: bold;

			&::after {
				content: '';
				position: absolute;
				left: 0;
				bottom: 0px;
				width: 30px;
				height: 3px;
				background: $primary-color;
			}
		}
	}

	&__text {
		color: black;
	}

	&__button {
		margin-left: 10px !important;
	}
}

.login-form {
	&__button-container {
		margin: 5px 0 20px 0;
		width: 100%;
		display: flex;
		justify-content: center;

		&--confirm {
			margin: 20px 0 0;
		}
	}

	&__error {
		margin-bottom: 20px;
		color: #d32f2f;
		font-size: 0.75rem
	}
}

.login-form-row {
	margin-top: 5px;
	height: 72px;

	&__input {
		display: block;
		margin: 25px 0;
		width: 100%;
	}

	.MuiTextField-root {
		.css-19mk8g1-MuiInputBase-root-MuiFilledInput-root {
			box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
		}
	}

	.MuiFilledInput-root {
		box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
	}
}

@media screen and (max-width: $media-mobile) {
	.login-form-modal {
		.MuiPaper-root {
			background: rgba(255, 255, 255, 0.9);
			border-radius: 0;
			display: flex;
			align-items: center;
		}
	}

	.login-form-modal-content {
		width: 100%;

		&--confirm {
			width: 100%;
		}

		&__top {
			margin: 20px 0;
			display: flex;
			align-items: center;
			justify-content: space-between;

			h2 {
				font-size: 35px;
			}
		}
	}

	.login-form {
		display: flex;
		flex-direction: column;
		justify-content: center;

		&__button-container {
			margin: 30px 0 50px 0;

			&--confirm {
				margin: 30px 0 0;
			}
		}
	}

	.login-form-row {
		margin-top: 25px;
		height: 72px;

		&__input {
			display: block;
			margin: 25px 0;
			width: 100%;
		}
	}
}
