.profile {
	@include center-width($width: 1024px);

	&__cover-image {
		width: 100%;
		height: 420px;
		border-radius: 0 0 5px 5px;
		box-shadow: $box-shadow-main-element;
		img {
			width: 100%;
			height: 420px;
			object-fit: cover;
		}
	}
}

.profile-general-information {
	display: flex;
	align-items: center;
	@include center-width($width: $width-text-main-section);

	&__avatar {
		transform: translateY(-25%);
		width: 150px;
		height: 150px;
		padding: 3px;
		display: flex;
		overflow: hidden;
		border-radius: 50%;
		background-color: $primary-color;
		box-shadow: $box-shadow-main-element;
		img {
			width: 100%;
			border-radius: 50%;
		}
	}

    &__name {
        padding-left: 10px;
        font-size: 30px;
        font-weight: bold;
    }

	&__registration-date {
		flex: 1;
		display: flex;
		justify-content: flex-end
	}
}

.profile-secondary-information{
	display: flex;
	justify-content: space-around;
	padding-bottom: 50px;
}

.profile-bio, .profile-informations {
	@include main-section-box;
	width: 45%;
	border-radius: 10px;
	box-shadow: $box-shadow-main-element;

	&__title {
		@include center-width($width: $width-text-main-section);
		font-size: 25px;
		font-weight: bold;
	}

    &__text {
		@include center-width($width: $width-text-main-section);
		margin-top: 20px;
	}
}
