@import './components/profile-top';

.profile {
	@include center-width($width: $profile-width-desktop);
	min-height: calc(100vh - $header-height);
	padding-bottom: 30px;
}

.profile-columns {
	@include features-columns-desktop;
}

.profile-user-information,
.profile-user-bio,
.profile-user-posts {
	@include features-section-desktop;
}

.profile-user-posts-bottom {
	margin-top: 20px;
	display: flex;
	justify-content: center;
}

.profile-user-bio__no-bio, .profile-user-posts__no-post {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	p {
		padding: 10px;
		font-size: 16px;
		color: $text-color-grey--light-mode;
		text-align: center;
	}
}

.main--dark {
	.profile-user-bio__no-bio, .profile-user-posts__no-post {
		p {
			color: $text-color-grey--dark-mode;
		}
	}
}

@media screen and (max-width: $media-tablette) {
	.profile {
		max-width: 100%;
	}
	.profile-columns {
		@include center-width($width: 96%);
	}
}

@media screen and (max-width: $media-mobile) {
	.profile-columns {
		@include features-columns-mobile;
		width: 100%;
	}

	.profile-user-information,
	.profile-user-bio,
	.profile-user-posts {
		@include features-section-mobile
	}
}

@media screen and (max-width: $media-small-screen) {
	.profile-user-posts {
		padding: 20px 0;
		&__title {
			margin-left: 20px;
		}
	}
}
