.post-card {
	margin: $margin-between-main-elements;
	padding: $padding-main-element;
	box-shadow: $box-shadow-main-element;
	border-radius: $border-radius-main-element;
	background-color: $grey-background;
}

.post-card-header {
	@include center-width($width: $feed-width-content-desktop);
	display: flex;
	align-items: center;

	&--small {
		@include center-width($width: $feed-width-content-mobile);
	}

	&__avatar {
		height: 50px;
		width: 50px;
		border-radius: 50%;
		box-shadow: $box-shadow-avatar;
		padding: 1px;
		background-color: $primary-color;
		margin: 5px 0;

		img {
			border-radius: 50%;
		}
	}

	&__infos {
		margin-left: 20px;
		a {
			@include link-style;
			display: block;
			font-weight: 500;
		}
		p {
			margin-top: 5px;
			font-size: 13px;
		}
	}

	&__settings-button-container {
		position: relative;
		height: 100%;
		flex: 1;
		justify-content: flex-end;
		align-items: center;
		display: flex;
	}
}

.post-card-settings {
	@include menu-modal;
	transform: none;
	right: 40px;
	top: 0;
}

.post-card-content {
	&--small {
		.post-card-content__text-container {
			@include center-width($width: $feed-width-content-mobile);
		}

		.post-card-content__image-container {
			img {
				max-width: 100%;
				max-height: 300px;
				display: block;
				max-height: auto;
			}
		}
	}

	&__text-container {
		@include center-width($width: $feed-width-content-desktop);
		margin: 20px auto;
		white-space: pre-wrap;
		word-wrap: break-word;
	}

	&__image-container {
		background-color: black;
		display: flex;
		justify-content: center;

		& img {
			display: block;
			max-height: 400px;
			max-width: 90%;
		}
	}
	&__video-container {
		display: flex;
		justify-content: center;
		background-color: black;
	}
}

.post-card-actions {
	@include center-width($width: 90%);
	margin-top: 5px;

	&--small {
		width: 100%;
	}

	&__divider-top {
		transform: translateY(50%);
	}

	&__divider-bottom {
		transform: translateY(-50%);
	}

	button {
		width: 50%;
	}
}

.post-card-badges {
	@include center-width($width: $feed-width-content-mobile);
	margin: 15px auto;
	display: flex;
	justify-content: space-between;

	&__item {
		margin-right: 15px;
		svg {
			height: 20px;
		}

		.css-106c1u2-MuiBadge-badge {
			height: 18px;
			min-width: 18px;
			font-size: 12px;
			border-radius: 50%;
		}
	}
}

.post-card-comments {
	@include center-width($width: $feed-width-content-desktop);

	&--small {
		@include center-width($width: $feed-width-content-mobile);
		margin-top: 20px;
	}
}

.post-card-comments-bottom {
	display: flex;
	justify-content: center;

	button {
		font-size: 10px;
	}
}

@media screen and (max-width: $media-mobile) {
	.post-card-header {
		@include center-width($width: $feed-width-content-mobile);
	}

	.post-card-content {
		&__text-container {
			@include center-width($width: $feed-width-content-mobile);
		}

		&__image-container {
			img {
				max-width: 100%;
				max-height: 300px;
				display: block;
				max-height: auto;
			}
		}
	}

	.post-card-actions {
		width: 100%;
	}

	.post-card-comments {
		@include center-width($width: $feed-width-content-mobile);
		margin-top: 20px;
	}
}
