.post-form {
	width: 650px;
	@include standard-modal-desktop;
}

.post-form-textarea {
	@include center-width($width: $feed-width-content-desktop);
	@include textarea;
	margin: 10px auto 30px auto;
	&__input {
		width: 100%;
		color: $text-color--light-mode;
	}
}

.post-form--dark .post-form-textarea {
	.post-form-textarea__input {
		color: $text-color--dark-mode;
	}
}

.post-form-image {
	margin: 20px 0;
	display: flex;
	justify-content: center;
	background-color: black;

	& img {
		display: block;
		max-width: 100%;
		max-height: 300px;
	}
}

.post-form-video {
	margin: 20px 0;
	display: flex;
	justify-content: center;
	background-color: black;
}

.post-form-actions {
	@include center-width($width: 90%);
	margin: 20px auto 0 auto;

	&__buttons {
		display: flex;
		justify-content: space-around;
	}
}

.post-form-video-input {
	@include center-width($width: $feed-width-content-desktop);
	margin: 0 auto;
	padding: 20px 10px 0 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;

	&__input {
		max-width: 350px;
	}
}

@media screen and (max-width: $media-mobile) {
	.post-form {
		@include standard-modal-mobile;
	}

	.post-form-video-input {
		flex-direction: column;

		button {
			margin-top: 20px;
		}
	}

	.post-form-actions {
		max-width: 100%;
		margin: 40px auto 0 auto;
	}
}

@media screen and (max-width: $media-small-screen) {
	.post-form {
		@include standard-modal-small-screen;
	}

	.post-form-actions {
		&__buttons {
			text-align: center;
		}
	}
}
